@using SmartHome.Web.ViewModels.Device
@using SmartHome.Web.ViewModels.Room
@model AddDeviceToRoomInputModel


<body>
    <div class="container mt-5">
        <h1>Add @Model.DeviceName to Room</h1>
        <form asp-action="AddToRoom" method="post">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="DeviceName"/>
            <h3>Select Rooms:</h3>

            <div class="form-group">
                @foreach (RoomCheckItemViewModel room in Model.Rooms)
                {
                    <div class="form-check">
                        <input type="hidden" asp-for="@room.Id"/>
                        <input type="hidden" asp-for="@room.RoomName"/>
                        <input type="checkbox" asp-for="@room.IsSelected" class="form-check-input"/>
                        <label class="form-check-label">@room.RoomName</label>
                    </div>
                }
            </div>

            <button type="submit" class="btn btn-primary">Assign Device</button>
            <a href="/Room" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>

